* {
    scroll-behavior: smooth;
}

.Page100 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Zip {
    position: absolute;
    top: 0px;
    left: 0px;
}



.ZipGNB {
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: white;

}

.ZipGNB ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.ZipGNB li {
    width: 25vw;
    height: 7vh;
    line-height: 7vh;
    text-align: center;

    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-weight: 500;

    mix-blend-mode: normal;
    z-index: 12;
}

.ZipGNB li::after {
    content: "";
    display: block;
    width: 0vw;
    margin-left: 12.5vw;
    border-bottom: 2px solid black;
}

.ZipGNB li:hover::after {
    content: "";
    display: block;
    width: 12.5vw;
    transition: all 1s;
    margin-left: 6.25vw;
    border-bottom: 2px solid black;
}


.Zip1 {
    transition: all 0.5s;
    height: 200vh;
    clip-path: circle(10% at 50% 100%);
}



.FlowBox {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;

}

.FlowCircle:nth-child(10),
.FlowCircle:nth-child(20) {
    background-color: none;
}

.FlowSection {
    width: 120vw;
    height: 50vh;
    display: flex;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    animation: SectionMove 20s linear infinite
}

.FlowSection2 {
    width: 120vw;
    height: 50vh;
    display: flex;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    animation: SectionMove 20s linear infinite
}

@keyframes SectionMove {
    0% {
        transform: translateX();
    }

    50% {
        transform: translateX(-60vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

.FlowCircle {
    width: 10vw;
    height: 10vw;
    margin-right: 2vw;
    border-radius: 100%;
    /* scss에 애니메이션효과 있음 */
    animation-play-state: paused;
}

.FlowCircle:nth-child(2) {
    transform: translateX(500px);
}


.Zip2 {
    position: relative;
    background: url("./image/mybg.jpg");
    background-attachment: fixed;
    width: 100vw;
    transition: all 1s;
    height: 300vh;
}

.clipTest {
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 100vw;
    background-color: white;
    transition: all 1s;
    clip-path: circle(0%);
    clip-path: circle(10%);

    transform: translateY(-10vh);

}

.FileZip {
    width: 10vw;
    height: 5vw;
    margin-top: 5vh;
    color: black;
    position: absolute;

}


.Zip2Container {}


.Zip3 {
    background-color: aqua;
}