$FlowTotal: 10;

.FlowCircle {
    @for $i from 1 through $FlowTotal {
        $AniDelay: 1-$i;

        &:nth-child(#{$i}) {

            @if($i>0) {
                background-color: rgb(random(255), random(255), random(255));

            }

            @else {}

            // animation: FlowMove-#{$i} 10s $AniDelay+s linear infinite;
            animation: FlowMove-#{$i} 5s linear infinite;
        }


        @keyframes FlowMove-#{$i} {
            0% {
                transform: translateY(0px);
            }

            25% {
                transform: translateY(random(100)+px);
            }

            50% {
                transform: translateY(0px);
            }

            75% {
                transform: translateY(random(100)*-1+px);
            }

            100% {
                transform: translateY(0px);
            }
        }
    }
}