.Search_User {
    width: 1920px;
    margin-top: 80px;
    text-align: center;
}


.CharThum {
    width: 60px;
    border-radius: 20px;

}


.GameRecord {
    width: 800px;
    height: 120px;
    margin-top: 20px;
    padding-top: 10px;

    text-align: left;

    border: rgb(221, 221, 221) solid 1px;
}

.GameRecord h2 {
    float: left
}

.GameRecordLeft {
    float: left;
}

.GameRecordWinLose {
    width: 70px;
    margin-left: 10px;
}

.GameRecordWinLose div {}

.GameDetail {
    margin: 20px;
    float: left;

}

.GameDetail ul li {
    width: 45px;
    height: 20px;
    float: left;
    text-align: center;
}

.GameDetailEx li {
    margin-top: 2px;
    font-size: 12px;
}

.GameRecordRight {
    margin-left: 200px;
    float: left;
    margin-top: 20px;
}

.Itema {
    margin: 0 0 0 -40px;
}

.ItemIcon {
    width: 45px;
    z-index: 70;
    margin-right: 2.5px;

}

.ItemTier0 {
    border: 1.5px rgb(0, 0, 0) solid;
    border-radius: 5px;
}

.ItemTier1 {
    border: 1.5px rgb(61, 60, 58) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(61, 60, 58, 0.9) 5%, rgba(61, 60, 58, 0.8) 20%, rgba(61, 60, 58, 0.7) 40%, rgba(61, 60, 58, 0.6) 65%, rgba(61, 60, 58, 0.55) 80%);
}

.ItemTier2 {
    border: 1.5px rgb(18, 125, 2) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(18, 125, 2, 0.9) 5%, rgba(18, 125, 2, 0.8) 20%, rgba(18, 125, 2, 0.7) 40%, rgba(18, 125, 2, 0.6) 65%, rgba(18, 125, 2, 0.55) 80%);
}

.ItemTier3 {
    border: 1.5px rgb(100, 140, 199) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(75, 105, 150, 0.9) 5%, rgba(75, 105, 150, 0.8) 20%, rgba(75, 105, 150, 0.7) 40%, rgba(75, 105, 150, 0.6) 65%, rgba(75, 105, 150, 0.55) 80%);
}

.ItemTier4 {
    border: 1.5px rgb(78, 44, 120) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(78, 44, 120, 0.9) 5%, rgba(78, 44, 120, 0.8) 20%, rgba(78, 44, 120, 0.7) 40%, rgba(78, 44, 120, 0.6) 65%, rgba(78, 44, 120, 0.55) 80%);
}

.ItemTier5 {
    border: 1.5px rgb(187, 145, 41) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(187, 145, 41)10%, rgba(187, 145, 41, 0.9) 25%, rgba(217, 169, 48, 1) 50%, rgba(217, 169, 48, 0.95) 75%, rgba(217, 169, 48, 0.9) 100%);
}

.ItemTier5 {
    border: 1.5px rgb(187, 145, 41) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(187, 145, 41)10%, rgba(187, 145, 41, 0.9) 25%, rgba(217, 169, 48, 1) 50%, rgba(217, 169, 48, 0.95) 75%, rgba(217, 169, 48, 0.9) 100%);
}


.testbox {

    z-index: 55;
    width: 35px;
    height: 25px;
    left: 100px;

    position: relative;

}


.GameRecordUnder {
    font-size: 12px;
}

.GameRecordRoute {
    margin: 10px 0 0 10px;
    font-size: 7px
}