.Search_User {
    width: 1920px;
    margin-top: 80px;
    text-align: center;
}


.CharThum {
    width: 60px;
    border-radius: 20px;
}


.GameRecord {
    width: 800px;
    height: 120px;
    margin-top: 20px;
    padding-top: 10px;

    text-align: left;

    border: rgb(221, 221, 221) solid 1px;
}

.GameRecord h2 {
    float: left
}

.GameRecordLeft {
    float: left;
}

.GameRecordWinLose {
    width: 70px;
    margin-left: 10px;
}

.GameRecordWinLose div {}

.GameDetail {
    margin: 20px;
    float: left;

}

.GameDetail ul li {
    width: 45px;
    height: 20px;
    float: left;
    text-align: center;
}

.GameDetailEx li {
    margin-top: 2px;
    font-size: 12px;
}

.GameRecordRight {
    margin-left: 200px;
    float: left;
    margin-top: 20px;
}

.Itema {
    margin: 0 0 0 -40px;
}

.ItemIcon {
    width: 45px;
    z-index: 70;
    margin-right: 2.5px;
    height: 25px;
}

.ItemTier0 {
    border: 1.5px rgb(0, 0, 0) solid;
    border-radius: 5px;

    height: 25px;
    background-color: black;

}

.ItemTier1 {
    border: 1.5px rgb(61, 60, 58) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(61, 60, 58, 0.9) 5%, rgba(61, 60, 58, 0.8) 20%, rgba(61, 60, 58, 0.7) 40%, rgba(61, 60, 58, 0.6) 65%, rgba(61, 60, 58, 0.55) 80%);
}

.ItemTier2 {
    border: 1.5px rgb(18, 125, 2) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(18, 125, 2, 0.9) 5%, rgba(18, 125, 2, 0.8) 20%, rgba(18, 125, 2, 0.7) 40%, rgba(18, 125, 2, 0.6) 65%, rgba(18, 125, 2, 0.55) 80%);
}

.ItemTier3 {
    border: 1.5px rgb(100, 140, 199) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(75, 105, 150, 0.9) 5%, rgba(75, 105, 150, 0.8) 20%, rgba(75, 105, 150, 0.7) 40%, rgba(75, 105, 150, 0.6) 65%, rgba(75, 105, 150, 0.55) 80%);
}

.ItemTier4 {
    border: 1.5px rgb(78, 44, 120) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(78, 44, 120, 0.9) 5%, rgba(78, 44, 120, 0.8) 20%, rgba(78, 44, 120, 0.7) 40%, rgba(78, 44, 120, 0.6) 65%, rgba(78, 44, 120, 0.55) 80%);
}

.ItemTier5 {
    border: 1.5px rgb(187, 145, 41) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(187, 145, 41)10%, rgba(187, 145, 41, 0.9) 25%, rgba(217, 169, 48, 1) 50%, rgba(217, 169, 48, 0.95) 75%, rgba(217, 169, 48, 1) 100%);
}

.ItemTier6 {
    border: 1.5px rgb(117, 51, 51) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(81, 13, 13, 1)10%, rgb(95, 20, 20) 25%, rgb(162, 47, 47, 1) 50%, rgba(177, 57, 57, 1) 75%, rgba(195, 83, 83, 1) 100%);
}


.testbox {

    z-index: 55;
    width: 35px;
    height: 25px;
    left: 100px;
    position: relative;
}

.abab {
    color: red;
}

.GameRecordUnder {
    font-size: 12px;
    position: relative;
    top: -50px;
}

.GameRecordRoute {
    margin: 10px 0 0 10px;
    font-size: 7px
}

.PlusBtn {
    width: 800px;
    height: 20px;
    margin-top: 20px;
    position: relative;

    border: rgb(221, 221, 221) solid 1px;

}

.MoreGameData {
    width: 30px;
    height: 130px;
    position: relative;
    top: -33px;
    left: 385px;
    border-left: rgb(221, 221, 221) solid 1px;
    text-align: center;
}

.OneLineProgress {
    color: red;
}

.MoreGameData div {
    position: relative;
    top: -35px;
    font-size: 20px;
}


.OneLineInfo {
    text-align: center;
    height: 60px;
    margin-left: 10px;
}

.TeamNum {
    position: relative;
    float: left;

    font-size: 13px;

}

.OneLineInfo li {
    margin: 15px 10px 0 0;
}

.OneLineInfo a {
    margin: 15px 10px 0 0;
}



.OneLineth li {
    font-size: 10px;
    margin: 15px 5px 0 0;
}

.OneLineInfo progress {
    margin: 15px 15px 0 0;
}

.OneLineChar {
    float: left;
    width: 40px;
    border-radius: 20px;
    margin: 0 15px 0 0;
}


.OneLineNick {
    width: 150px;
    text-align: center;
}

.OneLineKill {
    width: 15px;
}

.OneLineDeath {
    width: 15px;
}

.OneLineAss {
    width: 20px;
}

.OneLineDamage {
    width: 50px;
}

.OneLineProgress {
    height: 20px;
    float: left;
}

.MoreGameItemIcon {
    width: 35px;
    z-index: 70;
    margin-right: 2.5px;
    height: 20px;
}

.center {
    text-align: center;
}