.GameIntroduce {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 60px;
}


.blink {
    animation: blink 1s infinite;
    font-size: 18px;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}