@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    resize: none;
}

.StealienMain {
    z-index: 10000;
    width: 100%;
    position: absolute;
    left: 0px;
}

.StealienGNB {
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;

}


.StealienGNBMenu {
    width: 900px;
}

.StealienGNBMenu li {
    float: left;
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s;
    cursor: pointer;

}

.StealienGNBMenu li ul {

    border-top: solid 4px #501A9B;
    display: none;
    color: white;

}

.StealienGNBMenu li:hover ul {
    display: block;
}

.StealienGNBMenu li ul li {
    float: none;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid rgba(12, 12, 12, 0.2) 0.1px;
}

.StealienGNBMenu li ul li:hover {
    background-color: rgba(0, 0, 0);
    transition: all 0.5s;
}

.StealienLogoA {
    width: 250px;
    position: relative;
    left: -100px;
    height: 50px;
    overflow: hidden;

}

.StealienLogoA img:nth-child(1) {
    width: 200px;
    position: absolute;
    left: 75px;
    top: 0px;
    transition: all 0.5s;
}

.StealienLogoA img:nth-child(2) {
    width: 200px;
    position: absolute;
    left: 75px;
    top: 50px;
    transition: all 0.5s;
}

.StealienDropDown {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: row;

}

.StealienDropDown li {
    margin: 30px;
    color: white;
    text-align: center;
    width: 100px;
}

.StealienDropDownIn {
    border-top: 4px solid #501A9B;
    flex-direction: column;
    position: absolute;
    margin-left: -80px;
    gap: 0px;
}

.StealienDropDownIn li {
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 50px;
}

.aaa {
    width: 250px;
    height: 30px;
    font-family: NEXON Lv1 Gothic OTF;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.StealienDropDown li:hover .StealienDropDownIn {
    display: flex;

}

.StealienPageOne {
    width: 100vw;
    height: 810px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: row;

    transition: all 0.5s;
}

.StealienPageOne span {
    font-size: 3rem;
    color: #e0e0e0;
}

.StealienPageOneModel1 {
    width: 1400px;
    color: white;

}

.StealienPageOneModel1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

}

.StealienPageOneModel1Slide {
    display: flex;
    flex-direction: row;
    height: 50px;

    position: absolute;
    left: 280px;
    top: 220px;

}

.StealienPageOneModel1Slide li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #b4b4b4;
    margin-right: 15px;
}



.StealienPageOneModel1 h1 {
    width: 500px;
    font-size: 4rem;

}

.StealienPageOneModel1SlideText {
    width: 500px;
    position: absolute;
    left: 280px;
    top: 300px;
    opacity: 0;
    transition: all 0.5s;

}

.StealienPageOneModel1SlideText h1 {
    font-family: NEXON Lv1 Gothic OTF Light;
}

.StealienPageOneModel1 p {
    width: 500px;
    font-family: NEXON Lv1 Gothic OTF Light;
    font-size: 1.2rem;
}

.StealienPageTwo {
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StealienPageTwo h1 {
    color: #363636;
    line-height: 110px;
}

.StealienPageTwoModel1 {
    width: 1500px;
}

.StealienPageTwoIntroduceSlide {
    width: 1400px;
    overflow: hidden;
    height: 400px;
    display: flex;
}

.StealienPageTwoIntroduce {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s;
}

/*
.StealienPageTwoIntroduce li::after {
    content: "";
    width: 302px;
    height: 227px;
    display: block;
    position: relative;
    background-color: rgba(80, 26, 155, 0.5);
    transition: 0.5s all;
    top: -272px;
}

 .StealienPageTwoIntroduce li:hover::after {
    content: "";
    width: 302px;
    height: 227px;
    display: block;
    position: relative;
    background-color: rgba(80, 26, 155, 0.5);
    transition: 0.5s all;
    top: -272px;
    border-radius: 0 0 50px 0;
} */


.StealienPageTwoIntroduce li:nth-child(1) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0),
            rgba(80, 26, 155, 0)),
        url("./image/Stealien/introduce1.png");



}

.StealienPageTwoIntroduce li:nth-child(1):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce1.png");

}

.StealienPageTwoIntroduce li:nth-child(2) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image:
        url("./image/Stealien/introduce2.png");
}

.StealienPageTwoIntroduce li:nth-child(2):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce2.png");

}

.StealienPageTwoIntroduce li:nth-child(3) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image:
        url("./image/Stealien/introduce3.png");
}

.StealienPageTwoIntroduce li:nth-child(3):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce3.png");

}

.StealienPageTwoIntroduce li:nth-child(4) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image:
        url("./image/Stealien/introduce4.png");
}

.StealienPageTwoIntroduce li:nth-child(4):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce4.png");

}

.StealienPageTwoIntroduce li:nth-child(5) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image:
        url("./image/Stealien/introduce5.png");
}

.StealienPageTwoIntroduce li:nth-child(5):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce5.png");

}

.StealienPageTwoIntroduce li:nth-child(6) {
    width: 300px;
    height: 220px;
    margin: 0 25px;
    background-image:
        url("./image/Stealien/introduce6.png");
}

.StealienPageTwoIntroduce li:nth-child(6):hover {
    border-radius: 0 0 50px 0;
    transition: 0.5s all;
    box-shadow: 12px 12px 30px rgba(190, 190, 190);
    background-image: linear-gradient(to right bottom,
            rgba(80, 26, 155, 0.5),
            rgba(80, 26, 155, 0.5)),
        url("./image/Stealien/introduce6.png");

}




.StealienPageTwoIntroduce li p {
    text-align: center;
    font-family: NEXON Lv1 Gothic OTF Light;
    font-weight: 800px;
    margin-top: 250px;
    height: 20px;
}

#StealienPageTwoModel1Frame {
    display: flex;
    flex-direction: row;

}

#StealienPageTwoModel1Frame span {
    font-size: 3rem;
    color: #e0e0e0;
    width: 50px;
    line-height: 200px;
}

.StealienPageTwoModel2 {
    justify-content: center;
    display: flex;
}

.StealienPageTwoModel2 div:nth-child(1) {
    width: 820px;
    margin-top: 100px;
}

.StealienPageTwoModel2 div:nth-child(1) p {
    width: 500px;
    margin-left: 0px;
    font-family: NEXON Lv1 Gothic OTF;
    line-height: 150%;
}



.btn_point {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    padding: 20px 40px 20px 20px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.05em;
}

.btn_point .txt {
    line-height: 1;
    font-size: 1rem;
}



.btn_point i {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    opacity: 0.3;
    border-radius: 20px;
    background-color: #501A9B;
    animation: mymoveback 0.5s;
    animation-fill-mode: forwards;
}



.btn_point:hover i {
    animation: mymove 0.5s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    0% {
        left: 0px;
    }

    50% {
        left: 0;
        width: 80%;
    }

    100% {
        left: calc(75% - 40px);
        width: 40px;
    }
}

@keyframes mymoveback {
    0% {
        left: calc(80% - 40px);
        width: 40px;
    }

    50% {
        left: 0;
        width: 80%;
    }

    100% {
        left: 0px;
    }
}

.StealienPageThree {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    width: 1920px;
}

.StealienPageThreeModel1 {

    margin-left: 280px;

}

.StealienPageThreeModel2 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}

.StealienPageThreeModel2LeftBorder {
    width: 900px;
    text-align: center;
    border-bottom: rgba(190, 190, 190) solid 1px;
    margin-right: 160px;
    padding-bottom: 20px;
}


.StealienPageThreeModel2LeftBottom {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0px;
    text-align: center;
}

.StealienPageThreeModel2LeftBottom div {
    width: 300px;
}

.StealienPageThreeModel2LeftBottom img {
    width: 200px;
}

.needPlus {
    font-size: 0.8rem;
    font-family: NEXON Lv1 Gothic OTF normal;
}

.StealienPageThreeModel2RightBorder {
    width: 300px;
    text-align: center;
    border-bottom: rgba(190, 190, 190) solid 1px;
    padding-bottom: 20px;
}


.StealienPageThreeModel2RightBottom {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 0px;
    text-align: center;
}

.StealienPageThreeModel2RightBottom div {
    width: 300px;
}

.StealienPageThreeModel2RightBottom img {
    width: 200px;
}

.StealienPageFour {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1920px;
    justify-content: center;
}

.StealienPageFourModel1 {
    width: 1400px;
    display: flex;
    flex-direction: row;
}

.StealienPageFourModel1Left {
    width: 650px;
    height: 500px;
}

.StealienPageFourModel1Right {
    width: 650px;
    height: 500px;
}

.StealienPageFourModel1Top {
    width: 650px;
    border-bottom: rgba(190, 190, 190) solid 1px;
    height: 30px;
    padding-bottom: 10px;
}

.StealienPageFourModel1Top h3 {
    float: left;
}

.StealienPageFourModel1Top span {
    float: right;
}

.StealienPageFourModel1LeftTable {
    margin-top: 30px;
}

.StealienPageFourModel1LeftTable span {
    float: left;
    width: 90px;
    margin-right: 30px;
    height: 30px;
    background-color: #501A9B;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    color: white;
}

.StealienPageFourModel1LeftTable a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: 400px;
    height: 30px;
    margin-right: 30px;
}

.StealienPageFourModel1LeftTable p {
    float: left;
    width: 100px;
    color: rgba(190, 190, 190);
}

.StealienPageFourModel1RightBottom {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.StealienPageFourModel1RightBottomElement {
    width: 300px;
    height: 110px;
    margin: 0px 10px 10px 10px;
}

.StealienPageFourModel1RightBottomElement div:nth-child(1) {
    float: left;
    width: 100px;
    height: 200px;
}

.fofo {
    transform: scale(3);
    margin: 30px 0 0 30px;
    color: #501A9B;
}

.fofofo {
    color: #501A9B;
}

.StealienPageFourModel1RightBottomElement p {}

.StealienPageFourModel1RightBottomElement h2 {
    width: 100px;
    font-size: 2rem;
    white-space: nowrap;
    height: 2rem;
    border-left: #501A9B solid 3px;
}

.StealienFooter {
    display: flex;
    flex-direction: column;
    width: 1920px;
    justify-content: center;
    align-items: center;
}

.StealienFooterOne {
    width: 1350px;
    height: 100px;

}

.StealienFooterOne ul:nth-child(1) {
    float: left;
    width: 800px;
}

.StealienFooterOne ul:nth-child(1) li {
    float: left;
    margin-bottom: 5px;
    font-family: NEXON Lv1 Gothic OTF Light;

}

.StealienFooterOne ul:nth-child(1) span {
    float: left;
    border-left: 1px solid rgba(190, 190, 190);
    margin: 0 20px;

}

.StealienFooterOne ul:nth-child(2) {
    float: right;
    width: 200px;
}

.StealienFooterTwo {
    margin: -20px auto;
    width: 1350px;
    border-bottom: solid 1px rgba(190, 190, 190);

}

.StealienFooterThree {
    width: 1350px;
    height: 100px;
    margin-top: 50px;

}

.StealienFooterThree div {
    width: 300px;
    float: left;
    height: 300px;
}

.StealienFooterThree p {
    width: 300px;
    float: left;
    height: 300px;
    font-family: NEXON Lv1 Gothic OTF Light;
}

.StealienFooterThree img {
    width: 200px;
    margin: 0px;
    float: left;
}