@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    resize: none;
}

.StealienMain {
    z-index: 10000;
    width: 100%;
    position: absolute;
    left: 0px;
}

.StealienGNB {
    width: 1400px;
    height: 100px;
    position: fixed;

    margin-left: 260px;
    display: flex;
    align-items: center;
    justify-items: center;

}

.StealienLogoA {
    width: 300px;
    position: relative;
    left: -117px;
}

.StealienLogoA img:nth-child(1) {
    width: 200px;
    line-height: 50px;
}

.StealienLogoA img:nth-child(2) {
    width: 200px;
    display: none;
}

.StealienDropDown {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: row;

}

.StealienDropDown li {
    margin: 30px;
    color: white;
    text-align: center;
    width: 100px;
}

.StealienDropDownIn {
    border-top: 4px solid #501A9B;
    flex-direction: column;
    position: absolute;
    margin-left: -80px;
    gap: 0px;
}

.StealienDropDownIn li {
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.7);
    line-height: 50px;
}

.aaa {
    width: 250px;
    height: 30px;
    font-family: NEXON Lv1 Gothic OTF;
    font-weight: normal;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
}

.StealienDropDown li:hover .StealienDropDownIn {
    display: flex;

}

.StealienPageOne {
    width: 100vw;
    height: 810px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-direction: row;

    transition: all 0.5s;
}

.StealienPageOne span {
    font-size: 3rem;
    color: #e0e0e0;
}

.StealienPageOneModel1 {
    width: 1400px;
    color: white;

}

.StealienPageOneModel1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 0px 100% 0px 0px;

}

.StealienPageOneModel1Slide {
    display: flex;
    flex-direction: row;
    height: 50px;

    position: absolute;
    left: 260px;
    top: 220px;

}

.StealienPageOneModel1Slide li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #b4b4b4;
    margin-right: 15px;
}



.StealienPageOneModel1 h1 {
    width: 500px;
    font-size: 4rem;

}

.StealienPageOneModel1SlideText {
    width: 500px;
    position: absolute;
    left: 260px;
    top: 300px;
    opacity: 0;
    transition: all 0.5s;

}

.StealienPageOneModel1SlideText h1 {
    font-family: NEXON Lv1 Gothic OTF Light;
}

.StealienPageOneModel1 p {
    width: 700px;
    font-family: NEXON Lv1 Gothic OTF Light;
    font-size: 1.2rem;
}

.StealienPageTwo {
    width: 1920px;
    display: flex;
    flex-direction: column;
}

.StealienPageTwo h1 {
    color: #363636;
    line-height: 110px;
}

.StealienPageTwoModel1 {
    width: 1500px;
    height: 1000px;
}

.StealienPageTwoIntroduceSlide {
    width: 1400px;
    overflow: hidden;
    height: 400px;
    display: flex;
}

.StealienPageTwoIntroduce {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s;
}

.StealienPageTwoIntroduce li {
    width: 300px;
    height: 220px;
    background-color: black;
    margin: 0 25px;
}

.StealienPageTwoIntroduce li p {
    text-align: center;
    font-family: NEXON Lv1 Gothic OTF Light;
    font-weight: 900;
    margin-top: 20px;
}

#StealienPageTwoModel1Frame {
    display: flex;
    flex-direction: row;

}

#StealienPageTwoModel1Frame span {
    font-size: 3rem;
    color: #e0e0e0;
    width: 50px;
    line-height: 200px;
}


.qqq {
    width: 500px;
}

.qqq li {
    float: left;
    color: red;
    width: 100px;
    height: 50px;
    background-color: rgb(125, 10, 12, 0.4);
    text-align: center;
}

.qqq li ul {
    margin-top: 50px;
    border-top: solid 4px #501A9B;
}

.qqq li ul li {
    float: none;
}