@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

.Mission {
    font-family: "Noto Sans KR";
    position: relative;
    display: flex;
    flex-direction: column;
}

.MissionPageOne {
    width: 100vw;
    height: 100vh;
    position: relative;
    color: white;
    left: 0px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(3, 3, 3));
}


.sky {
    width: 200vw;
    z-index: 1;
    height: 200vw;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 150s linear infinite;
}



/* 별 */
.sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
}

/* 별 이동효과 */
@keyframes moveStar {
    from {
        transform: translate(-75%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.MissionPageOneText {
    color: white;
    font-family: "Noto Sans KR";
    position: relative;

}

.TypingWord {
    line-height: 95vh;
    position: relative;
    text-align: center;
    font-family: "Noto Sans KR";
    font-weight: 100;
    display: flex;
    flex-direction: row;
}

.blink {
    margin-top: 40vh;
    animation: blink 0.4s infinite;
    font-size: 80px;
    border-left: 3px solid white;
    height: 10rem;
    position: relative;
}


@keyframes blink {
    to {
        opacity: 0;
    }

    form {
        opacity: 1;
    }
}


.ohmygod {
    float: left;
    font-size: 5rem;
}

.TypingChange {
    position: relative;
    font-family: "Noto Sans KR";
    font-weight: 200;
    color: white;
    font-size: 5rem;
    float: right;
    width: auto;
    text-align: right;
}

.MissionPageTwo {
    width: 100vw;
    height: 100vh;
}



.FallSnow {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 100%;
    top: 100px;
    left: 200px;
    opacity: 0.5;
    filter: brightness(3);
    filter: drop-shadow(0 0 9px white);
    /* animation: FallSnowAnimation 10s infinite forwards; */
}

@keyframes FallSnowAnimation {
    0% {
        transform: translate(0vw, 0vh);
    }

    10% {
        transform: translate(5vw, 10vh);
    }

    20% {
        transform: translate(-5vw, 20vh);
    }

    30% {
        transform: translate(5vw, 30vh);
    }

    40% {
        transform: translate(-5vw, 40vh);
    }

    50% {
        transform: translate(5vw, 50vh);
    }

    60% {
        transform: translate(-5vw, 60vh);
    }

    70% {
        transform: translate(5vw, 70vh);
    }

    80% {
        transform: translate(-5vw, 80vh);
    }

    90% {
        transform: translate(5vw, 90vh);
    }

    100% {
        transform: translate(-5vw, 100vh);
    }
}

























.MissionPageFour {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(3, 3, 3));
    z-index: 3;
    position: relative;
}

.front {
    animation: PageFour 1s linear forwards;
    perspective: 500;
    transform-style: preserve-3d;
}

.right {
    transition: all 2s;
    animation: PageFour2 1s linear forwards;
    perspective: 1000;
    transform-style: preserve-3d;
}

@keyframes PageFour {
    0% {}

    33% {
        transform: rotateY(-30deg) translate3D(-17vw, 0px, 17vw);
    }

    100% {
        transform: rotateY(-90deg) translate3D(-50vw, 0px, 50vw);
    }
}

@keyframes PageFour2 {
    0% {
        transform: rotateY(-90deg) translate3D(50vw, 0px, -50vw);
    }

    30% {
        transform: rotateY(-60deg) translate3D(34vw, 0px, -34vw);

    }

    100% {
        transform: rotateY(0deg) translate3D(0, 0, 0);
    }
}


.snowMap {
    width: 100vw;
    height: 100vh;
}

.snowEle,
.snowEle::before,
.snowEle::after {
    content: "";
    display: block;
    z-index: 650;

}

.abab {
    position: fixed;
    top: 100px;
    height: 100px;
    width: 100px;
    left: 100px;
    background-color: plum;
    z-index: 500;

}

.snowEle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    top: 500px;
}

/* .snowEle::before {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    left: 200px;

}

.snowEle::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: relative;
} */

@keyframes DownFallSnow {
    0% {}

    50% {}

    100% {}
}