.HerenNow {
    perspective: 100px;

    background-color: #101010;
    position: absolute;
    overflow: hidden;
}

.HerenNowDown {
    position: absolute;
    left: 10vw;
    transition: all 1s;
    transform: translateY(0);
}

.HerenNowDownScroll {
    font-size: 7rem;
    -webkit-text-stroke: 1.5px #929292;
    color: transparent;
    position: relative;
    left: 5%;
    height: 15rem;
    width: 200rem;
    height: 200px;
    transition: all 1s;
}

.HerenNowDownScroll:hover {
    transition: all 1s;
    transform: translateX(2rem);
}


.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;

    background: white;
    border-radius: 100%;
    mix-blend-mode: difference;
    display: none;
}