:root {
    --wid: 1520px;
}

.pageFiverow2 p {
    --p: 1;
    font-size: calc(var(--p) * 1rem);
}

.wheelbtn {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    position: fixed;
    z-index: 100;
}

.wheelbtn2 {
    width: 100px;
    height: 50px;
    background-color: purple;
    position: fixed;
    z-index: 100;
    top: 50px;
}

#My {
    width: 100vw;
    height: 8000px;
}

.bodo {
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 20;
    border-radius: 100px;
    border: 1px solid black;
    overflow-x: hidden;
}

.bododo {
    width: 100px;
    height: 50px;
    overflow: hidden;
    position: relative;
    left: 200px;
    background-color: blue;
    border-radius: 100px;
    border: 1px solid black;
    transition: all 1s;
    transform: scale(3);
}

.MyPageMove1 {
    z-index: -1;
}

.MyPageMove2 {
    z-index: -2;
}

.MyPageMove3 {
    z-index: -3;

}

.MyPageMove4 {
    z-index: -4;
    background-size: contain;
}


.thrthr img {
    transition: 1s;
}

.fullviewer {
    position: fixed;
    left: 0px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    transition: all 1s;

}