.mymyFullPage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.mymyFull {
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.mymyFull:nth-child(odd) {}

.mymyFull:nth-child(even) {
    background-color: olivedrab;
}

.mymyPage2 {
    width: 100vw;
    height: 100vh;
}

.MyNameIS {
    position: absolute;
    left: 0px;
    top: 15%;
    transition: all 1s;
    perspective: 500px;
    width: 2000px;



}

.mymyPage3 {}

.MyNameIS2 {
    position: relative;
    transition: all 1s;
    transform: scale(1, 1);
}

.LeeJongHyunWord {
    transition: all 1s;
    color: white;
    transform: scale(0.68);

}

.L {}

.e {}

.e2 {}

.J {}

.o {}

.n {}

.g {}

.H {}

.y {}

.u {}

.n2 {}

.backSky {
    width: 150vw;
    height: 100vw;
    position: relative;
    background: linear-gradient(to right, #111, #0e0f19);
}

/* 별을 감싼 부모 */
.sky {
    width: 200vw;
    z-index: 2;
    height: 200vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 150s linear infinite;
}

/* 별 */
.sky .star {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
}

/* 별 이동효과 */
@keyframes moveStar {
    from {
        transform: translate(-75%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.fixtext {
    position: fixed;
    top: 200px;
    left: 500px;
    font-size: 5rem;
    color: blue;
    z-index: 99963;
}