.mymyFullPage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.mymyFull {
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.mymyFull:nth-child(odd) {}

.mymyFull:nth-child(even) {
    background-color: olivedrab;
}

.mymyPage2 {
    transition: all 1s;
    perspective: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}



.MyNameIS {
    position: absolute;
    left: 0px;
    top: 15%;
    transition: all 1s;
    perspective: 500px;
    width: 2000px;


}

.MyNameIS2 {
    transition: all 1s;
    transform: scale(1, 1);
}

.L {
    transition: all 1s;
    transform: translate(0px, 0px);
}

.e {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.e2 {
    transition: all 5s;
    transform: translate(50vw, 50vh) scale(3);

}

.J {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.o {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.n {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.g {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.H {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.y {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.u {
    transition: all 1s;
    transform: translate(0px, 20px);
}

.n2 {
    transition: all 1s;
    transform: translate(0px, 20px);
}