.mymyFullPage {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.mymyFull {
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.mymyFull:nth-child(odd) {}

.mymyFull:nth-child(even) {
    background-color: olivedrab;
}

.mymyPage1 {
    transition: all 1s;
    perspective: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}



.mymyPage1 svg {
    position: absolute;
    left: 0px;
    top: 15%;

    transition: all 1s;
    transform: scale(70) translate3D(-10px, 200px, 0px);
    perspective: 500px;


}

.g {
    transition: all 1s;
    transform: scale(1) translate3D(0px, 0px, 0px);
}