.VHOM {
    width: 100vw;
    z-index: 5000;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}



.VHOMGNB {
    width: 100vw;
    height: 20vh;
    background: orange;
    position: fixed;
}

.VHOMGNBLeft {
    min-width: 700px;
    text-align: left;
    float: left;
    height: 20vh;
    background-color: aqua;
}

.VHOMGNBLeft a {
    float: left;
    margin-left: 50px;
    font-size: 3rem;
    line-height: 20vh;
}

.VHOMGNBLeft span {
    font-size: 1rem;
    line-height: 20vh;
    margin-left: 20px;
}

.VHOMGNBRight {
    text-align: right;
    width: 100vw;
    min-width: 1920px;
    height: 20vh;
    background-color: blueviolet;
}

.VHOMGNBUserInfo {}

.VHOMGNBUserInfo ul {
    text-align: right;
    margin: 0 10px 0 10px;
}

.VHOMGNBUserInfo li {
    float: right;
}



.VHOMGNBUserInfoLine::after {
    content: "";
    border-right: 1px solid gray;
    margin: 0 10px 0 10px;
}

.VHOMGNBMenu {
    width: 100vw;
    position: relative;
}

.VHOMGNBMenu ul {
    margin-top: 20px;
    height: 20px;
    float: right;
    line-height: 20px;
}

.VHOMGNBMenu li {}

.VHOMGNBMenuRightOne {
    margin-right: 20px;

}

.VHOMGNBMenuRightOne li {
    font-size: 1.2rem;
    margin-right: 15px;
    float: right;
}

.VHOMGNBMenuRightTwo {
    margin-right: 20px;

}

.VHOMGNBMenuRightTwo li {
    margin-right: 15px;
    font-size: 1rem;
    /* 폰트얇게 */
    float: right;
}

.VHOMGNBMenuRightThree {
    width: 150px;
    margin-right: 20px;
}

.VHOMGNBMenuRightThree li {

    float: right;
}


.VHOMSideBarText {
    position: fixed;
    transform: rotate(90deg);
    float: left;
    left: -30px;
    margin-top: 0vh;
    background: none;
    font-size: 0.8rem;
}

.VHOMSideBarBorder {
    width: 5px;
    height: 40vh;
    background-color: #00B190;
    position: fixed;
    transition: all 1s;
    top: 0px;
}