.VHOM {
    width: 100vw;
    height: 400vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    left: 0px;
}



.VHOMGNB {
    width: 100vw;
    height: 20vh;
    background: orange;
    position: fixed;
    display: flex;
    justify-content: space-between
}

.VHOMGNBLeft {
    min-width: 700px;
    text-align: left;
    float: left;
    height: 20vh;
    background-color: aqua;

}

.VHOMGNBLeft a {
    float: left;
    margin-left: 50px;
    font-size: 3rem;
    line-height: 20vh;
}

.VHOMGNBLeft span {
    font-size: 1rem;
    line-height: 20vh;
    margin-left: 20px;
}

.VHOMGNBRight {
    text-align: right;
    min-width: 1000px;
    height: 20vh;
    background-color: wheat;

}

.VHOMGNBRightMenu {}

.VHOMGNBRightMenu ul li {}

.VHOMGNBRightUserMenu ul li {
    float: right;
    padding: 20px 10px 0 0;
}

.VHOMGNBRightMenuBarOne {}

.VHOMGNBRightMenuBarOne ul li {
    float: right;
    margin: 0 10px 0 0;
    font-size: 1.1rem;
    line-height: 20px;
}

.VHOMGNBRightMenuBarTwo {}

.VHOMGNBRightMenuBarTwo ul li {
    float: right;
    margin: 0 10px 0 0;
    line-height: 20px;

}





.VHOMSideBarText {
    position: fixed;
    transform: rotate(90deg);

    left: -70px;
    background: none;
    font-size: 1rem;
    z-index: 10000;
    transition: all 1s;
    width: 170px;

    text-align: right;

}

.VHOMSideBarBorder {
    width: 5px;
    height: 40vh;
    background-color: #00B190;
    position: fixed;
    transition: all 1s;
    top: 0px;
    z-index: 10000;
}



.full {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}