.E1Full {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.E1FirstBox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 150px;



}

.E1FirstBox p {

    font-size: 5vw;
    width: 60vw;
    margin: 0px auto;
    transition: all 1s ease 0s;
    color: #fff;
    opacity: 0.5;
    -webkit-mix-blend-mode: screen;
    mix-blend-mode: screen;
}

.E1Video {
    top: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}