/* #ERMain {
  width: 100vw;
  height: 80vh;
  margin-top: 60px;
  padding-top: 50px;
  transition: all 1s;
}

.SearchNickNameBox {
  position: absolute;
  left: 660px;
  top: 200px;
  width: 500px;
  height: 45px;
  padding-left: 50px;
  border: none;
  border-radius: 5px;
} */

/* background: linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%
          ), url("../image/Main/Season3.png");
        background-size: cover; */


/* 
#MainImg {
  width: 300px;
} */
.ERMain {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;

}

.ERMainGNB {
  width: 100vw;
  height: 55px;
  background-color: rgb(20, 20, 20);
  position: fixed;
  z-index: 50;
}

.ERMainLeft {
  width: 1000px;
  float: left;
}

.ERMainGNB img {
  width: 100px;
  float: left;
  margin-left: 10px;
}


.ERMainGNBUl {
  float: left;
  width: 400px;
  height: 100%;


}

.ERMainGNBUl li {
  float: left;
  font-size: 1.1rem;
  color: white;
  font-family: "Noto Sans KR";
  font-weight: 900;
  line-height: 55px;
  margin-left: 20px;
}

.ERMainGNBUl li a {
  color: white;
}

.NickSearchBox {
  width: 100vw;
  height: 100vh;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.NickSearchBox input {
  width: 400px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -5px #000000;
}


.ERThursday {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  text-align: center;
  background: rgb(20, 20, 20, 0.7);
  border-radius: 15px;
}

.ERThursdayGuidanceX {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100%;
  line-height: 50px;
  color: white;
  font-size: 2rem;
}

.ERThursdayGuidance {
  width: 80%;
  color: white;
  line-height: 1.3rem;
  margin: 20px 0px;
}

.ERThursdayGuidance span {
  font-size: 0.7rem;
}

.ViewERPageBtn {}

/* 

.ViewERPage {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 10px;
  transition: all 0.5;
  width: 200px;
  transition: all 0.5s;
}

.ViewERPage img {
  width: 100%;
  transition: all 0.5s;
}

.ViewErPageClick {
  width: 800px !important;
  transition: all 0.5s;
  animation: PreView 0.5s linear forwards;
} */

.ViewERPage {
  cursor: pointer;
  color: white;
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.ERPreViewImg {
  transition: all 0.5s;
  width: 0px;
  position: fixed;
}

.ERPreViewImgClick {
  transform: all 0.5s;
  cursor: pointer;
  animation: PreView 0.2s linear forwards;
  position: fixed;
}

@keyframes PreView {
  0% {}

  99% {
    width: 800px;

  }

  100% {
    width: 800px;



  }
}