.CalendarN {
    width: 100vw;
    height: 100vh;

}

.sun {
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 100%;
}


#result {
    color: white;
}

.WeatherAll {
    width: 800px;
    height: 500px;
    position: fixed;
    left: 600px;
    top: 500px;
    z-index: 50;
}




.Weather {
    width: 400px;
    height: 200px;
    position: fixed;
    left: 500px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightsalmon;
    border-radius: 15px;
}

.WeatherTop {
    width: 100%;
}

.WeatherTopLeft {
    float: left;
    margin: 15px 0 0 15px
}

.WeatherTopRight {
    text-align: right;
    margin: 15px 15px 0 0;
}

.WeatherTopRight div {
    margin-bottom: 5px;
}

.WeatherTopRight div:nth-child(1) {
    color: white;
    font-size: 2rem;
}

.WeatherTopRight div:nth-child(2) {
    color: white;
    font-size: 1rem;
}

.WeatherTopRight div:nth-child(3) {
    color: white;
    font-size: 1rem;
}

.WeatherBot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.WeatherBot div {
    text-align: center;
    color: white;

}


/* center: new kakao.maps.LatLng(MyLocation.lon, MyLocation.lat), // 지도의 중심좌표 */