.CalendarN {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: url('./mybg.jpg');
}

#map {
    width: 500px;
    height: 500px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


.mapContainer {
    width: 500px;
    text-align: center;
}

.inputContainer {
    width: 500px;
    height: 50px;
    background-color: red;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.inputContainer input {
    height: 50px;

}

.inputContainer input:nth-child(1) {
    border: none;
    width: 385px;

    outline: none;
    padding-left: 15px;
}

.inputContainer input:nth-child(2) {
    border: none;
    width: 50px;
    background-color: lightcoral;
}

.inputContainer input:nth-child(3) {
    border: none;
    width: 50px;
    background-color: lightcoral;
}



.forecastCon {
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Weather {
    width: 500px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: lightcoral;
    box-shadow: rgba(50, 50, 93, 1) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(10, 37, 64, 1) 0px -2px 6px 0px inset;
}

.WeatherTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.WeatherTopLeft {
    margin: 15px 0 0 15px
}

.WeatherTopRight {
    text-align: right;
    margin: 15px 15px 0 0;
}

.WeatherTopRight div {
    margin-bottom: 5px;
}

.WeatherTopRight div:nth-child(1) {
    color: white;
    font-size: 2rem;
}

.WeatherTopRight div:nth-child(2) {
    color: white;
    font-size: 1rem;
}

.WeatherTopRight div:nth-child(3) {
    color: white;
    font-size: 1rem;
}

.WeatherBot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.WeatherBot div {
    text-align: center;
    color: white;

}


.Weather5Day {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.Weather3Time {
    width: 200px;
}

.Weather3Hour {
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;
    background-color: rgb(100, 154, 255)
}

.Weather3Hour div:nth-child(1) {}

.Weather3Hour div:nth-child(2) {
    font-size: 1.2rem;
    margin: 10px;
}

.Weather3Hour div:nth-child(3) {
    font-size: 0.5rem;
}

/* center: new kakao.maps.LatLng(MyLocation.lon, MyLocation.lat), // 지도의 중심좌표 */