.EternalZip1 {
    background-color: rgb(0, 0, 0, 0.05);
    width: 100vw;
    height: 230vh;
}

.ImgLeft {
    position: fixed;
    bottom: 0px;
}

.ImgRight {
    position: fixed;
    bottom: 0px;
    right: 0px;
}