.SearchPlayer {
    width: 100vw;
    height: 130%;
    display: flex;
    align-content: center;
    background-color: rgba(240, 240, 240);
}

.Last10Game {
    width: 25vw;
    min-width: 450px;
    height: 100vw;
    position: relative;
    flex-grow: 1;
}

.Last10GameEle {
    min-width: 350px;
    height: 100%;
    position: relative;
    margin: 70px;
}

.Last10Game p {
    font-family: "Noto Sans KR";
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.Last10GameCharCon {
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Last10GameCharConThum {
    width: 70px;
    text-align: center;
}

.Last10GameCharConThum div {
    width: 70px;
    height: 80px;
    text-align: center;
    color: white;
    line-height: 80px;
    position: absolute;
    font-size: 2rem;
}

.Last10GameCharConThum img {
    width: 60px;
}

.SearchContainer {
    width: 1000px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 70px;
    flex-grow: 2;
}

.os {
    position: relative;
    flex-grow: 1;
}

.GameInfo {
    width: 1000px;
    height: 150px;

    /* background: linear-gradient(to left, rgb(119, 108, 178) 30%, rgb(231, 203, 38) 100%); */
    background-color: rgb(119, 108, 178, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.GameInfoResult {
    float: left;
    height: 150px;
}

.GameInfoState {
    float: left;
    text-align: left;
    width: 100px;
    height: 150px;

}

.GameInfoStatePP {
    margin-left: 20px;
    width: 100px;
    height: 130px;
    text-align: left;
    white-space: nowrap;

}

.GameInfoStatePP div:nth-child(1) {
    font-size: 1.5rem;
    margin-top: 40px;
    height: 25px;
}

.colorFirst {
    color: rgb(228, 187, 0);
}

.colorFirstb {
    border-left: 12px solid rgb(231, 203, 38);

}

.colorSecond {
    color: rgb(70, 128, 255);
}

.colorSecondb {
    border-left: 12px solid rgb(70, 128, 255);
}

.colorThird {
    color: rgb(190, 190, 190);
}

.colorThirdb {
    border-left: 12px solid rgb(190, 190, 190);
}

.GameInfoStatePP div:nth-child(2) {
    font-size: 0.8rem;
    height: 65px;
    font-family: "Noto Snas KR";
    font-weight: 900;

}

.GameInfoStatePP div:nth-child(3) {
    height: 20px;
    font-size: 0.8rem;
}


.GameInfoCharatcer {
    float: left;
    text-align: left;
    width: 200px;
    height: 150px;
    margin-left: 30px;

}

.GameInfoCharatcerLv {
    height: 100%;
    margin-top: 40px;
    float: left;
}

.GameInfoCharatcerLvCube {
    width: 50px;
    height: 60px;
    border-radius: 10%;
    text-align: center;

}

.GameInfoCharatcerLvCube div {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 0.5rem;
    height: 20px;
    width: 100px;
    text-align: center;
}

.GameInfoCharatcerLvCube div div {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 0.5rem;
    height: 20px;
    width: 20px;
    text-align: center;
    float: left;
}

.WeaponLv {
    margin-top: 3.5px;
}


.WeaponType {
    width: 20px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0, 0.8);
}

.GameInfoCharatcerThum img {
    width: 80px;
    margin: 20px 0 0 5px;
    border-radius: 30%;
    float: left;
}

.GameInfoCharacterTrait {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.GameInfoCharacterTrait img {
    width: 30px;
    margin: 10px 0 0 10px;
}

.GameInfoKdahd {
    float: left;
    text-align: left;
    width: 300px;
    height: 150px;
    margin-top: 40px;
}

.GameInfokdahdHead div {
    text-align: center;
    width: 30px;
}

.GameInfokdahdHead div:nth-of-type(4) {
    text-align: center;
    width: 75px;
}

.GameInfokdahdHead div:nth-of-type(9) {
    text-align: center;
    width: 75px;
}

.GameInfokdahdHead div:nth-of-type(5n) {
    text-align: center;
    width: 60px;
}

.mmrGain {
    font-size: 0.8rem;
    position: relative;
    float: left;
    margin-top: 0.2rem;
}

.gray {
    color: rgb(0, 0, 0, 0.3);
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-size: 0.8rem;
}


.GameInfoItem {
    width: 300px;
    height: 150px;
    float: right;
}

.GameInfoPlusLine {
    width: 36px;
    height: 150px;
    background-color: rgba(155, 214, 230, 0.5);
    filter: invert(20%);
    float: right;
    border-radius: 0 15px 15px 0;
    text-align: center;
}

.GameInfoPlusLine span {
    position: relative;
    line-height: 150px;
    font-size: 1rem;
    font-family: "Noto Sans KR";
    font-weight: 700;
}

.GameInfoItemMatch {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameInfoItemMatch img {
    width: 60px;
    margin: 2px;
}


.ItemTier0 {
    border: 1.5px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.8);
    width: 60px;
    height: 33px;

}

.ItemTier1 {
    border: 1.5px rgb(61, 60, 58) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(61, 60, 58, 0.9) 5%, rgba(61, 60, 58, 0.8) 20%, rgba(61, 60, 58, 0.7) 40%, rgba(61, 60, 58, 0.6) 65%, rgba(61, 60, 58, 0.55) 80%);
}

.ItemTier2 {
    border: 1.5px rgb(18, 125, 2) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(18, 125, 2, 0.9) 5%, rgba(18, 125, 2, 0.8) 20%, rgba(18, 125, 2, 0.7) 40%, rgba(18, 125, 2, 0.6) 65%, rgba(18, 125, 2, 0.55) 80%);
}

.ItemTier3 {
    border: 1.5px rgb(100, 140, 199) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(75, 105, 150, 0.9) 5%, rgba(75, 105, 150, 0.8) 20%, rgba(75, 105, 150, 0.7) 40%, rgba(75, 105, 150, 0.6) 65%, rgba(75, 105, 150, 0.55) 80%);
}

.ItemTier4 {
    border: 1.5px rgb(78, 44, 120) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(78, 44, 120, 0.9) 5%, rgba(78, 44, 120, 0.8) 20%, rgba(78, 44, 120, 0.7) 40%, rgba(78, 44, 120, 0.6) 65%, rgba(78, 44, 120, 0.55) 80%);
}

.ItemTier5 {
    border: 1.5px rgb(187, 145, 41) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(187, 145, 41)10%, rgba(187, 145, 41, 0.9) 25%, rgba(217, 169, 48, 1) 50%, rgba(217, 169, 48, 0.95) 75%, rgba(217, 169, 48, 1) 100%);
}

.ItemTier6 {
    border: 1.5px rgb(117, 51, 51) solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(81, 13, 13, 1)10%, rgb(95, 20, 20) 25%, rgb(162, 47, 47, 1) 50%, rgba(177, 57, 57, 1) 75%, rgba(195, 83, 83, 1) 100%);
}

.MoreGame {
    position: relative;
    font-family: "Noto Sans KR";
    font-weight: 500;

}