$widthDiv : 18vw;
$heightDiv : 400px;

.Front {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FrontHead {
    width: 90vw;
}

.SelectBox {
    width: 90vw;
    text-align: right;
    margin: 10px 0 10px 0;
}

.SelectBox ul {
    float: right;
}

.SelectBox ul li {
    float: left;
    margin-right: 10px;
    font-family: "Noto Sans Kr";
    font-size: 0.8rem;
}

.FrontTopBorder {
    width: 95vw;
    border-bottom: 1px solid black;
    margin: 20px 0;
}

.FrontList {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.FrontItem {
    width: $widthDiv;
    min-width: 300px;
    height: $heightDiv;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgb(20, 20, 20, 0.2);
    border-top: none;
    margin: 10px;
    transition: all 0.5s;
}

.FrontItem:hover {
    box-shadow: 0px 2px 15px gray;
    transition: all 1s;
}

.FrontItem img {
    width: 100%;
    padding-bottom: 10px;
    object-fit: fill;
}

.FrontItemImg {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

//https://www.phoneppu.com/product/detail.html?product_no=24358&cate_no=334&display_group=1 

.FrontItem a {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-weight: 700;
    min-width: 100%;
    margin: 10px;
}

.FrontItemEx {
    font-family: "Noto Sans KR";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;

    margin: 10px;
}

.FrontItemContents {
    white-space: pre-line;

    font-family: "Noto Sans KR";
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 10px;
    color: rgb(20, 20, 20, 0.8);
}







.FrontItem2 {
    width: $widthDiv;
    min-width: 300px;
    height: $heightDiv;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgb(20, 20, 20, 0.2);
    border-top: none;
    margin: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.FrontItem2:hover {
    box-shadow: 0px 2px 15px gray;
    transition: all 1s;
}

.FrontItem2 img {
    width: 100px;
    padding-bottom: 10px;
    object-fit: fill;

}

.FrontItem2 a {
    font-family: "Noto Sans KR";
    font-size: 1rem;
    font-weight: 700;
    min-width: 100%;
    margin: 10px;
}

.FrontItem2Ex {
    font-family: "Noto Sans KR";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;

    margin: 10px;
}

.FrontItem2Contents {
    font-family: "Noto Sans KR";
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1rem;

    margin: 10px;
    color: rgb(20, 20, 20, 0.8);
    white-space: pre-line;
}