.VirtualPlus {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, salmon, plum);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.MusicThumb {
    width: 700px;

}


.asdasd {
    margin-top: 2500px;
}

.MusicVideo {
    position: absolute;
}