#DetailInfo {
    padding: 60px 0 0 0 auto;
    margin: 60px 0 0 0 auto;
}

#abc {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 1250px;
    top: 5vw;
    overflow: hidden;
    z-index: -1;

}

#abcd {
    width: 500px;
    height: 1000px;
    z-index: -2;
    position: absolute;
    top: -100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)20%, rgba(255, 255, 255, 0.1)30%, rgba(255, 255, 255, 0.3)40%, rgba(255, 255, 255, 0.4)50%, rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 1)70%, rgba(255, 255, 255, 1)100%);
}

#abcde {
    width: 600px;
    z-index: -10;
    position: absolute;
    top: 50px;
    overflow: hidden;
}



#ShowSkin {
    width: 850px;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: -1;
}


#acacac {}

.imgBack {
    background-color: black;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    left: 15px;
}

#imga {
    position: relative;

}

.MiniDiv {

    float: left;
    width: 120px;
}

/* <div id ="abc" >
<img 
  id="abcde"
  src={`/image/Character_Img/${CharName}/Thumbnail/${SkinData}/Full.png`}
/>
<div id ="abcd"></div>
</div> */


#SkillQWERT {
    font-size: 10px;
}