@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#Character_Infomation {
    margin-top: 20px;
    width: 1920px;
    height: 1500px;

}

#abccc {
    width: 700px;
    position: absolute;
    left: 75vw;
    z-index: -1;
}

#Infomation {
    width: 1000px;
}

.Character_info {
    width: 1920px;

    padding-top: 60px;
    position: relative;
    left: 10%;
}


#Character_SelectBoard {
    width: 1000px;
}

.CharThumb {
    float: left;
    width: 90px;
}

.ThunbnailIcon {
    width: 50px;
}

#SkillInfo {
    width: 1000px;
    position: relative;

}

#SkillGif {
    width: 500px;
    float: left;
    margin: 0 30px 0 0;
}

.SkillBtn {
    width: 50px;
    float: left;
    margin: 0 0 0 20px;
}

#SkillRImg {
    float: none;
}

#SkillExplancation {
    margin: 20px 0 0 20px;
    float: left;
}

#SkillExplancation li {
    width: 400px;
    white-space: pre-wrap;
}

#SkillName {
    font-family: 'NEXON Lv1 Gothic OTF Bold';

    font-size: 18px;
}


#SkillExplancationSelect {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 15px;

}


#SkillExplanationBorder {
    width: 400px;
    border-bottom: rgb(192, 192, 192) 0.2px solid;
    margin: 10px 0 10px 0;
}