@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#Character_Infomation {
    margin-top: 20px;
    width: 1920px;
    height: 1500px;

}

#abc {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 1250px;
    top: 5vw;
    overflow: hidden;
    z-index: -1;

}

#abcd {
    width: 500px;
    height: 1000px;
    z-index: -2;
    position: absolute;
    top: -100px;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0)20%, rgba(255, 255, 255, 0.1)30%, rgba(255, 255, 255, 0.3)40%, rgba(255, 255, 255, 0.4)50%, rgba(255, 255, 255, 0.9)60%, rgba(255, 255, 255, 1)70%, rgba(255, 255, 255, 1)100%);

}

#abcde {
    width: 600px;
    z-index: -10;
    position: absolute;
    top: 50px;
    overflow: hidden;
}


#Character_SelectBoard {
    width: 1000px;
    position: relative;


}

.CharThumb {
    float: left;
    width: 70px;
    text-align: center;
    margin: 10px 0 0 0;

}

.CharThumb li {
    font-size: 11px;
    font-family: 'NEXON Lv1 Gothic OTF';

}

.ThunbnailIcon {
    width: 65px;
    border: solid 1px black;
}

#SkillInfo {
    width: 1000px;
    position: relative;


}

#SkillGif {
    width: 500px;
    float: left;
    margin: 0 40px 0 0;
}

.SkillBtn {
    width: 50px;
    float: left;
    margin: 0 0 0 20px;
}

#SkillRImg {
    float: none;
}

#SkillExplancation {
    margin: 20px 0 0 20px;
    float: left;
}

#SkillExplancation li {
    width: 400px;
    white-space: pre-wrap;
}

#SkillName {
    font-family: 'NEXON Lv1 Gothic OTF Bold';

    font-size: 18px;
}


#SkillExplancationSelect {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 15px;

}


#SkillExplanationBorder {
    width: 400px;
    border-bottom: rgb(192, 192, 192) 0.2px solid;
    margin: 10px 0 10px 0;
}