.Character_Chose {
    position: absolute;
    left: 0px;
    width: 100vw;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.CharacterCol {
    text-align: center;
    margin: auto;
    width: 70vw;
    height: 40px;
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.CharacterColLeft {
    float: left;
    position: relative;
    height: 100%;
}


.CharacterColLeft input {
    width: 200px;
    height: 100%;
    float: left;
    border: none;
    padding-left: 10px;
    font-size: 0.5rem;
    font-family: "Noto Sans KR";
    font-weight: 600;
    background-color: transparent;
    outline: none;
}

.CharacterColRight ul {
    width: 500px;

}

.CharacterColRight ul li {
    float: left;
    margin-left: 20px;
    font-size: 0.5rem;
    font-family: "Noto Sans KR";
    font-weight: 900;
    cursor: pointer;
}

.SelectliOn {
    color: rgb(20, 20, 20, 0.4);
}

.SelectliOnC {
    float: left;
    margin-left: 20px;
    font-size: 0.5rem;
    font-family: "Noto Sans KR";
    font-weight: 900;
    color: black;
}

.Character_Contanier {
    text-align: center;
    margin: auto;
    width: 70vw;
    top: 100px;
    position: relative;
}

.Character_Contanier div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ERCharView {
    width: 200px;
    height: 256px;
    margin: 5px;
    overflow: hidden;
    opacity: 1s all;
    border-radius: 5px;

}

.ERCharViewHover::after {
    content: "";
    display: block;
    opacity: 1;
    width: 50px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.5);
    position: relative;
    left: -0px;
    top: -400px;
    transform: rotate(45deg)translate(-170px);
    transition: all 1s;
    z-index: 1;
    pointer-events: none;
}



.ERCharViewHover:hover::after {
    animation: glassEff 0.7s linear forwards;
}

@keyframes glassEff {
    0% {
        transform: rotate(45deg)translate(-170px);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg)translate(300px);
        opacity: 1;
    }
}



.ERCharThumb {
    width: 200px;
    height: 256px;
}

.ERCharThumb:hover {
    transition: all 1s;
    transform: scale(1.1);
    background-color: white;
}

.ERCharThumbName {
    z-index: 2;
    position: relative;
    bottom: 2rem;
    width: 200px;
    height: 2rem;
    background-color: rgb(20, 20, 20);

}

.ERCharThumbName p {
    font-size: 1.2rem;
    color: white;
    font-family: "Noto Sans KR";
    font-weight: 600;
    line-height: 2rem;
}