@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#Character_Infomation {

    width: 100vw;
    height: auto;
    position: absolute;
    left: 0px;
    top: 20px;

}




#Character_SelectBoard {
    width: 1200px;
    margin-top: 60px;
}

.CharThumb {
    float: left;
    width: 300px;
    text-align: center;
    margin: 10px 0 0 0;

}

.CharThumb li {
    font-size: 11px;
    font-family: 'NEXON Lv1 Gothic OTF';

}

.ThunbnailIcon {
    width: 180px;
    height: 230px;
    transition: 1s all;
    border-radius: 10px;
    position: relative
}

.ThunbnailIcon:hover {
    box-shadow: 5px 3px 5px rgb(115, 115, 115);
    width: 190px;
    height: auto;
    transition: 0.5s all;
}

.ThunbnailIcon:hover~.HalfKorName {
    box-shadow: 5px 3px 5px rgb(115, 115, 115);
    width: 190px;
    transition: 0.5s all;
    border-radius: 0 0 8px 8px;
}





.SkillBtn {
    width: 60px;
    float: left;
    margin: 0 15px 0 0;
}

#SkillRImg {
    float: none;
}

#SkillExplancation {
    margin: 20px 0 0 20px;
    float: left;
}

#SkillExplancation li {
    width: 400px;
    white-space: pre-wrap;
}

#SkillName {
    font-family: 'NEXON Lv1 Gothic OTF Bold';

    font-size: 18px;
}


#SkillExplancationSelect {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    font-size: 15px;

}


#SkillExplanationBorder {
    width: 400px;
    border-bottom: rgb(192, 192, 192) 0.2px solid;
    margin: 10px 0 10px 0;
}

.CharSearch {
    width: 400px;
    height: 80px;
    transition: 1s all;
    margin-top: 30px;
}

.CharSearchText {
    width: 400px;
    height: 40px;
    margin: 0px auto;
    position: relative;
    left: -10px;
    padding-left: 20px;
    transition: 1s all;
}

.CharSearchConsonant {
    position: relative;
    width: 400px;

}

.Consonant {
    margin: 3px 10px 0 0;
    float: left;
    font-family: NEXON Lv1 Gothic OTF right;

}

#CharTable {
    text-align: center;
    background-color: red;
    width: 1200px;
    transition: 1s all;
}

.CharacterHalf {
    width: 200px;
    height: 250px;
    position: inherit;
    font-family: NEXON Lv1 Gothic OTF Bold;
    display: block;
    text-align: center;
    transition: 1s all;
    float: left;

}

.HalfDiv {
    width: 180;
    height: 30px;
    z-index: 3;
    position: relative;
    top: -30px;
}

.HalfKorName {
    position: relative;
    top: -30px;
    width: 180px;
    height: 30px;
    background-color: black;
    color: white;
    transition: 0.5s all;

}