.Environment {
    width: 100vw;
    background-color: bisque;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TaihanPageOne {
    transition: all 0.4s;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TaihanPageOne video {}

.asdasd {
    color: black;

}

.zxczxc {
    width: 100vw;
    height: 100vh;
    background-color: red;
}



.TaihanPageOne video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.TaihanVideo {
    position: fixed;
    top: 0px;
}

.TaihanVideo2 {
    position: relative;
    top: 0px;
}

.TainhanPageOneTitle {
    position: relative;
    z-index: 5;
    width: 80vw;
    margin: 0px auto;
}

.TainhanPageOneTitle {
    transition: all 0.4s;
}

.TainhanPageOneTitle p:nth-child(1) {
    font-size: 4rem;
    font-family: "Noto Sans KR";
    font-weight: 800;
    color: white;
}

.TainhanPageOneTitle p:nth-child(2) {
    font-size: 2rem;
    font-family: "Noto Sans KR";
    font-weight: 500;
    margin-top: 2rem;
    color: white;
}

.PtagSelect {
    transition: all 0.4s;
}

.TitleToggle {
    transform: translateY(100px);
    opacity: 1;
}