.TaihanGNB {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    z-index: 100;
}

.TaihanLogo {}

.TaihanGNBCenter {
    text-align: 40px;
}

.TaihanGNBCenter ul {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.TaihanGNBRight {
    width: 300px;
}

.TaihanGNBRight ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}