.Environment {
    width: 100vw;
    background-color: bisque;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TaihanPageOne {
    transition: all 0.4s;
}

.TaihanPageOne video {
    width: 100vw;
}

.asdasd {
    color: black;

}

.zxczxc {
    width: 100vw;
    height: 100vh;
    background-color: red;
}



.TaihanPageOne video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.TaihanVideo {
    position: fixed;
    top: 0px;
}


.TainhanPageOneTitle {
    position: relative;
    color: red;
    z-index: 5;
    font-size: 5rem;
}